table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}


thead, tr {
  display:table; 
  width:100%; 
  table-layout:fixed;
}

thead {
  width: calc( 100% - 1em )
}

th {
  white-space: nowrap;
}

tbody {
  max-height:400px; 
  display:block; 
  overflow-y: scroll;
  overflow-x: hidden; 
}


.table-wrapper {
  overflow-x: scroll; 
  overflow-y: hidden;
}

tr:nth-child(even){background-color: #f2f2f2}
