﻿<div>
    <div class="container">
        <div class="text-center">
            <h1>Pagination with Table - Capco Example</h1>

            <div style="overflow-x:auto;" class="table-wrapper">
                <table>
                    <thead>
                        <th style="text-align: center;background-color: #a39a4793">id</th>
                        <th style="text-align: center;background-color: #a39a4793">name</th>
                        <th style="text-align: center;background-color: #a39a4793">phone</th>
                        <th style="text-align: center;background-color: #a39a4793">company</th>
                        <th style="text-align: center;background-color: #a39a4793">date entry</th>
                        <th style="text-align: center;background-color: #a39a4793">org num</th>
                        <th style="text-align: center;background-color: #a39a4793">address</th>
                        <th style="text-align: center;background-color: #a39a4793">city</th>
                        <th style="text-align: center;background-color: #a39a4793">zip</th>
                        <th style="text-align: center;background-color: #a39a4793">geo</th>
                        <th style="text-align: center;background-color: #a39a4793">pin</th>
                        <th style="text-align: center;background-color: #a39a4793">guid</th>
                        <th style="text-align: center;background-color: #a39a4793">date exit</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of pagedItems; let i=index;" style="border: 1px solid black;">
                        <td style="text-align: left;">{{data.id}}</td>
                        <td style="text-align: left;">{{data.name}}</td>
                        <td style="text-align: left;">{{data.phone}}</td>
                        <td style="text-align: left;">{{data.company}}</td>
                        <td style="text-align: left;">{{data.date_entry}}</td>
                        <td style="text-align: left;">{{data.org_num}}</td>
                        <td style="text-align: left;">{{data.address_1}}</td>
                        <td style="text-align: left;">{{data.city}}</td>
                        <td style="text-align: left;">{{data.zip}}</td>
                        <td style="text-align: left;">{{data.geo}}</td>
                        <td style="text-align: left;">{{data.pin}}</td>
                        <td style="text-align: left;">{{data.guid}}</td>
                        <td style="text-align: left;">{{data.date_exit}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
</div>